nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 5px 50px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    list-style: none;
    color: #000;
    cursor: pointer;
}
